html {
   scroll-behavior: smooth;
}

body {
   margin: 0 auto;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

div {
   margin: 0;
}

h1 {
   margin: 0;
   font-size: 42px;
   font-family: 'Nunito', sans-serif;

   @media (max-width:425px) {
      font-size: 24px;
   }
}

h2 {
   font-family: 'Nunito', sans-serif;
   margin: 0;
   font-size: 36px;
}

h3 {
   margin: 0;
   font-size: 28px;
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: 500;

   @media (max-width:425px) {
      font-size: 18px;
   }
}

h4 {
   font-size: 18px;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;

   @media (max-width:425px) {
      font-size: 16px;
   }
}

p {
   font-size: 18px;
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   opacity: 0.8;

   @media (max-width:425px) {
      font-size: 16px;
   }
}

button {
   margin: 0;
}

.headline {
   @media(max-width:768px) {
      text-align: center;
   }
}

.para {
   @media(max-width:768px) {
      text-align: center;
   }
}

#burger:checked+label+ul {
   display: flex;
}

#close-icon {
   display: none;
}

.burger-menu {
   display: none;

   @media(max-width:986px) {
      display: block;
   }

   &__input {
      display: none;
   }

   &__label {}

   &__menu {
      display: flex;
      gap: 32px;
      flex-direction: column;
      display: none;
      position: absolute;
      left: 0;
      padding: 32px 24px 56px 24px;
      font-size: 18px;
      background-color: white;
      width: 100%;
      box-sizing: border-box;
   }

   &__item {
      list-style: none;
      font-family: "Nunito", sans-serif;
      font-size: 24px;

      &_home {
         color: #FF274E;
         text-decoration: underline;
         text-underline-offset: 5px;
         text-decoration-thickness: 2px;
      }
   }
}

.header__a {
   color: black;

   &:hover {
      color: #FF274E;
   }

   &_home {
      color: #FF274E;
   }
}


.header {
   display: flex;
   align-items: center;
   padding: 56px 0px;
   padding-left: 9%;
   padding-right: 9%;
   justify-content: space-between;
   gap: 56px;

   @media (max-width:1064px) {
      gap: 24px;
   }

   @media (max-width:768px) {
      padding: 24px;
   }

   &__left {
      display: flex;
      gap: 56px;

      @media (max-width:1064px) {
         gap: 24px;
      }
   }

   &__right {
      display: flex;
      align-items: center;
      gap: 24px;
   }

   &__logo {
      font-family: 'Nunito', sans-serif;
      font-weight: 800;
   }

   &__nav {
      font-family: 'Roboto', sans-serif;
   }
}

.nav {

   &__menu {
      display: flex;
      gap: 24px;
      padding: 0;

      @media (max-width:986px) {
         display: none;
      }
   }

   &__item {
      list-style: none;
      font-size: 14px;
      font-weight: 300;
      cursor: pointer;

      &:hover {
         color: #FF274E;
      }

      &_home {
         color: #FF274E;
         font-weight: 400;
         text-decoration: underline;
         text-underline-offset: 5px;
         text-decoration-thickness: 2px;
      }
   }
}

.language-select {
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   -webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
   appearance: none;
   background-color: white;
   border: none;
   cursor: pointer;

   &__option {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      display: block;
   }
}

.btn__border:hover+.btn__border-a {
   color: black;
}

.btn {
   font-size: 14px;
   border-radius: 25px;
   padding: 12px 24px;
   color: white;
   background-color: #FF274E;
   border: none;
   cursor: pointer;

   @media (max-width:425px) {
      font-size: 15px;
   }

   &:hover {
      background-color: #313842;
   }

   &__border {
      border: 1px solid white;
      font-size: 20px;

      &:hover {
         background-color: white;
         color: black;
      }
   }

   &__border-a {
      color: white;
   }

   &__large {
      border-radius: 15px;
      padding: 16px 0;

      &:hover {
         background-color: white;
         color: black;
      }
   }

   &__vanish {
      @media (max-width:986px) {
         display: none;
      }
   }
}

.consultation {
   padding: 0;
   padding-left: 9%;
   padding-right: 5%;
   display: flex;

   @media (max-width:986px) {
      flex-direction: column;
   }

   @media (max-width:768px) {
      padding: 24px;
   }

   &__h {
      font-size: 42px;

      @media(max-width:425px) {
         font-size: 32px;
      }
   }

   &__p {}

   &__block {
      width: 50%;

      @media (max-width:986px) {
         width: 100%;
      }

      &_left {
         order: 1;

         @media (max-width:986px) {
            order: 2;
         }
      }

      &_right {
         order: 2;

         @media (max-width:986px) {
            order: 1;
         }
      }
   }

   &__block-img {
      width: 100%;
   }

   &__span {
      color: #FF274E;
   }
}

.needs-and-requests {
   padding: 9%;

   @media (max-width:768px) {
      padding: 72px 24px 24px;
   }

   &__containers {
      display: flex;

      @media (max-width: 1210px) {
         flex-direction: column;
      }
   }

   &__container {
      &_left {
         padding-right: 8.64%;

         @media (max-width: 768px) {
            padding-right: 0;
         }
      }

      &_right {
         display: flex;
         flex-direction: column;
         gap: 24px;
         color: white;
      }
   }

   &__block {
      display: flex;
      background-color: #313842;
      border-radius: 30px;
      border: #313842;
      padding: 27px;

      @media (max-width: 768px) {
         padding: 16px;
      }
   }

   &__icon {
      padding-right: 30px;

      @media (max-width: 768px) {
         padding-right: 8px;
      }

      svg {
         @media (max-width:768px) {
            width: 55px;
            height: 55px;
         }
      }
   }

   &__info {}
}

.services {
   display: flex;
   flex-direction: column;
   gap: 24px;
   padding: 9%;
   padding-top: 0;

   @media (max-width:768px) {
      padding: 72px 24px 96px 24px;
   }


   &__block {
      background-color: #313842;
      border-radius: 30px;
      padding: 24px 56px;
      color: white;

      @media (max-width:768px) {
         padding: 24px;
      }

      &_white {
         background-color: transparent;
         padding: 0;
         border-radius: 0;
         max-width: 722px;
         color: black;
      }
   }

   &__h3 {
      color: white;
      display: flex;
      align-items: center;

      &::before {
         content: '';
         display: inline-block;
         background: #FF274E;
         border-radius: 50%;
         width: 14px;
         height: 14px;
         margin-right: 16px;

         @media (max-width:425px) {
            width: 12px;
            height: 12px;
         }
      }
   }

   &__p {
      max-width: 650px;
   }

   &__number {
      font-family: 'Inter', sans-serif;
      font-size: 70px;
      font-weight: 500;
      color: #FF274E;
      display: block;
      text-align: right;

      @media (max-width:768px) {
         font-size: 50px;
      }

      @media (max-width:425px) {
         font-size: 32px;
      }
   }
}

.request {
   background-color: #FF274E;
   color: white;
   padding: 56px 0;
   padding-left: 9%;
   padding-right: 9%;
   display: flex;
   align-items: center;

   @media(max-width:964px) {
      padding-bottom: 0;
      flex-direction: column;
   }

   @media (max-width: 768px) {
      padding: 24px 53px 0 53px;
   }

   &__h1 {
      margin-bottom: 16px;

      @media (max-width:768px) {
         font-size: 35px;
      }

      @media (max-width:425px) {
         font-size: 25px;
      }
   }

   &__block {
      @media(max-width:964px) {
         text-align: center;
      }
   }

   &__img {
      @media (max-width:964px) {
         margin-top: 41px;
      }

      @media (max-width:768px) {
         width: 50%;
      }
   }
}

.about-me {
   padding: 56px 0;
   padding-left: 9%;
   padding-right: 9%;
   margin-bottom: 9%;

   @media (max-width:768px) {
      padding: 96px 24px 63px;
      margin: 0;
   }

   &__h1 {
      margin-bottom: 34px;

      @media(max-width:768px) {
         text-align: center;
      }
   }

   &__content {
      display: flex;
      border-radius: 30px;
      align-items: center;
      position: relative;
      box-sizing: border-box;

      @media (max-width:1025px) {
         flex-direction: column;
      }
   }

   &__intro {
      border-radius: 30px;
      padding: 56px;
      background-color: #313842;

      @media (max-width:1174px) {
         padding: 24px;
      }
   }

   &__p {
      color: white;
      width: 60%;

      @media (max-width:1174px) {
         width: 55%;
      }

      @media (max-width:1025px) {
         width: 100%;
      }
   }

   &__name-block {
      padding: 12px 24px;
      width: max-content;
      background-color: #FF274E;
      color: white;
      border-radius: 20px;
      position: absolute;
      z-index: 1;
      bottom: 16px;
      right: 300px;

      @media (max-width:1025px) {
         position: relative;
         bottom: 15px;
         right: auto;
      }
   }

   &__para-name {
      margin: 0;

      @media (max-width:1025px) {
         font-size: 20px;
      }
   }

   &__img-block {
      position: absolute;
      right: 0;
      box-sizing: border-box;

      @media (max-width:1025px) {
         position: relative;
         right: auto;
         top: -33px;
      }
   }

   &__img {
      max-height: 563px;
      box-sizing: border-box;

      @media (max-width:768px) {
         max-width: 100%;
      }
   }
}

.request-form {
   max-width: 708px;
   margin: 0 auto;
   background-color: #313842;
   border-radius: 30px;
   padding: 56px 95.5px;
   color: white;

   @media (max-width:768px) {
      margin-left: 24px;
      margin-right: 24px;
      padding: 24px;
   }

   &__h1 {
      text-align: center;
      margin-bottom: 24px;
   }
}

.form {
   display: flex;
   flex-direction: column;
   gap: 16px;


   &__name-mail {
      display: flex;
      gap: 16px;

      @media (max-width:768px) {
         flex-direction: column;
      }

   }

   &__name-mail-input {
      box-sizing: border-box;
      width: 50%;
      padding: 16px 32px;
      border-radius: 20px;

      @media (max-width:768px) {
         width: 100%;
      }

      @media (max-width:425px) {
         font-size: 16px;
      }

      &::placeholder {
         opacity: 0.2;
      }
   }

   &__discription {
      width: 100%;
   }

   &__description-input {
      box-sizing: border-box;
      width: 100%;
      height: 161px;
      border-radius: 20px;
      padding: 16px 32px;

      @media (max-width:425px) {
         font-size: 16px;
      }

      &::placeholder {
         opacity: 0.2;
      }
   }

   &__agree {
      margin: 0 auto;
      display: flex;
      align-items: center;
   }

   &__agree-input {
      border-radius: 2px;
      border: 0.5px solid black;
      margin: 0;
      width: 14px;
      height: 15px;
      margin-right: 16px;
   }

   &__agree-label {
      font-size: 12px;
      opacity: 0.6;
   }


}

.footer {
   background-color: #FF274E;
   margin-top: 9%;
   padding: 56px 0;
   padding-left: 9%;
   padding-right: 9%;
   color: white;
   display: flex;
   border-radius: 30px;
   justify-content: space-between;
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   gap: 16px;

   @media (max-width: 768px) {
      flex-direction: column;
      padding: 24px;
      padding-bottom: 96px;
      margin-top: 96px;
   }

   &__intro {
      max-width: 447px;
   }

   &__logo {}

   &__p {
      font-weight: 300;
   }

   &__social {
      @media (max-width: 768px) {
         display: none;
      }
   }

   &__social-mobile {
      display: none;

      @media (max-width: 768px) {
         display: block;
         padding-top: 16px;
      }
   }

   &__nav {}

   &__menu {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 0;
      padding: 0;
   }

   &__nav-item {
      list-style: none;
      cursor: pointer;
      font-weight: 300;
   }

   &__a {
      color: white;
   }
}

.footer__social svg {
   cursor: pointer;
}

.privacy-policy {
   padding: 7% 9% 0 9%;

   @media (max-width: 768px) {
      padding: 32px 24px 0 24px;
   }


   &__headline {
      text-align: center;
   }

   &__intro {
      opacity: 1;
   }

   &__list {}

   &__subheadline {
      margin: 0;
   }

   &__p {
      margin: 0;
      margin-bottom: 18px;
      opacity: 1;

      @media (max-width:425px) {
         margin-bottom: 16px;
      }
   }

   &__span {
      font-size: 18px;
      font-weight: 300;
   }
}